[submodule "build/cldr-misc-modern"]
	path = build/cldr-misc-modern
	url = git@github.com:unicode-cldr/cldr-misc-modern.git
[submodule "build/cldr-localenames-modern"]
	path = build/cldr-localenames-modern
	url = git@github.com:unicode-cldr/cldr-localenames-modern.git
[submodule "build/googleFontsTools"]
	path = build/googleFontsTools
	url = git@github.com:/googlefonts/tools.git
[submodule "build/cldr-numbers-modern"]
	path = build/cldr-numbers-modern
	url = https://github.com/unicode-cldr/cldr-numbers-modern.git
[submodule "build/cldr-core"]
	path = build/cldr-core
	url = https://github.com/unicode-cldr/cldr-core.git
